@import "../node_modules/stylus-components/reset"
@import "../node_modules/stylus-components/grid"
@import "../node_modules/stylus-components/helper"
@import "../node_modules/stylus-components/layout"
@import "../node_modules/stylus-components/margins"
@import "../node_modules/stylus-components/typography"
@import "./form"

*{ 
    box-sizing: border-box; 
}

body{ 
    padding: 10px;
    background: white; 
    max-width: 100%; 
    display: block;
}
